StructureCraft/nb-configuration.xml
StructureCraft/target/
/StructureCraft/nbproject/
/StructureCraft.Test/nbproject/
/structurecraft-bukkit/target/
/StructureAPI-Core/target/
SettlerCraft-Core/nb-configuration.xml
SettlerCraft-Core/target/
.idea/
structurecraft/structurecraft.iml
StructureAPI-Core/
SettlerCraft-Core/
StructureAPI-Bukkit/
/structurecraft/nbactions.xml
/structurecraft/nb-configuration.xml
/structurecraft.test/target/
/structurecraft-old/nbproject/
/structurecraft-old/target/
/structurecraft-old-bukkit/target/
/SettlerCraft-XPlatform/target/
/structurecraft-3.0.0/target/
/structurecraft-menuapi-core/target/
/structurecraft-xplatform-core/target/
/structurecraft-xplatform-bukkit/target/
/structurecraft-economy/target/
/structurecraft-core.test/target/
/structurecraft-core.test/nbproject/
/structurecraft-economy-core/target/